<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script>
     <%= compilation.assets[ 
      htmlWebpackPlugin.files.chunks.main.entry.substr(
          htmlWebpackPlugin.files.publicPath.length
          )].source()
     %>
  </script>
</head>
<body>
<!-- 美好的世界献上祝福-->
<% for(let key in htmlWebpackPlugin.files.chunks){ %>
  <% if(key !== 'main'){ %>
  <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"></script>
  <% } %>
<% } %>
</body>
</html>
